@charset "utf-8";

/**************************************** web font ***************************************/
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('../fonts/AppleSDGothicNeoR.eot');
  src: url('../fonts/AppleSDGothicNeoR.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AppleSDGothicNeoR.woff2') format('woff2'),
      url('../fonts/AppleSDGothicNeoR.woff') format('woff'),
      url('../fonts/AppleSDGothicNeoR.svg#AppleSDGothicNeoR') format('svg');
  font-weight: 400;
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('../fonts/AppleSDGothicNeoM.eot');
  src: url('../fonts/AppleSDGothicNeoM.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AppleSDGothicNeoM.woff2') format('woff2'),
      url('../fonts/AppleSDGothicNeoM.woff') format('woff'),
      url('../fonts/AppleSDGothicNeoM.svg#AppleSDGothicNeoM') format('svg');
  font-weight: 500;
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('../fonts/AppleSDGothicNeoSB.eot');
  src: url('../fonts/AppleSDGothicNeoSB.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AppleSDGothicNeoSB.woff2') format('woff2'),
      url('../fonts/AppleSDGothicNeoSB.woff') format('woff'),
      url('../fonts/AppleSDGothicNeoSB.svg#AppleSDGothicNeoSB') format('svg');
  font-weight: 600;
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('../fonts/AppleSDGothicNeoB.eot');
  src: url('../fonts/AppleSDGothicNeoB.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AppleSDGothicNeoB.woff2') format('woff2'),
      url('../fonts/AppleSDGothicNeoB.woff') format('woff'),
      url('../fonts/AppleSDGothicNeoB.svg#AppleSDGothicNeoB') format('svg');
  font-weight: 700;
}

/**************************************** tag reset ****************************************/
body, h1, h2, h3, h4, h5, h6, p, ul, button, input, textarea{margin: 0;padding: 0;}
h1, h2, h3, h4, h5, h6{font-size: 100%;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none;color: inherit;}
input, button, textarea{border: none;background: none;cursor: pointer;font-family: inherit;font-size: inherit;color: inherit; outline: none;}
img{border: none; vertical-align: top; max-width: 100%;}
main, article, aside, figure, footer, header, nav, section{display: block;}

/*************************************** Common style ****************************************/
/* html, body, * */
body{
  font-family: AppleSDGothicNeo, sans-serif; font-size: 15px; font-weight: 400; line-height: 1; letter-spacing: -0.025em; color: #333; background-color: #fff;
  -webkit-tap-highlight-color : transparent; outline: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-text-size-adjust: none;
}
body.blue{background-color: #DEEAF5;}
body *{word-break: keep-all; box-sizing: border-box;}
::after, ::before{box-sizing: border-box;}

/* color var */
:root{
  --brand-color: #27AAE1; --brand-dark-color: #1487B7; 
  --non-emphasize-color: #A6A6B2; --line-color: #EBEEF5; --placeholder: #AEAEBB;
  --select-box-color: #F5F7FA;
}

/* form */
.input_row{margin-bottom: 24px;}
.input_row:nth-last-of-type(1){margin-bottom: 20px;}
.input_row label{display: block; padding-bottom: 10px; font-size: 15px; font-weight: 500;}
.input_row input{display: block; width: 100%; padding: 14px 16px; box-sizing: border-box; background-color: #F6F7F6; border-radius: 12px; font-size: 16px; font-weight: 400;}
input[type="checkbox"]{width: 1px;height: 1px;overflow: hidden;border: none;position: absolute;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
input[type="checkbox"] + label{position: relative; padding-left: 32px;}
input[type="checkbox"] + label::after{content: ""; position: absolute; top: 50%; left: 0; transform: translateY(-50%); display: block; width: 20px; height: 20px; border: 1px solid #CFD5DA; border-radius: 4px; background: none; transition: all .3s;}
input[type="checkbox"]:checked + label::after{border: none; background: url("../images/icon/checkbox_checked.svg");}
::placeholder{font-size: 16px; letter-spacing: -0.025%; color: var(--placeholder);}
.user_tel_inner{position: relative; width: 100%;}
textarea{resize: none;}
input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-calendar-picker-indicator {display: none; -webkit-appearance: none;}
/* text style */
.tit1{font-size: 22px; font-weight: 700; line-height: 32px; letter-spacing: 0;}
.tit2{font-size: 20px; font-weight: 700; line-height: 28px;}
.tit3{font-size: 18px; font-weight: 600; line-height: 26px;}
.tit4{font-size: 16px; font-weight: 600;}
.txt1{font-size: 15px; line-height: 25px;}
.txt2{font-size: 14px; line-height: 20px;}
.txt3{font-size: 13px;}
.color_blue{color: var(--brand-color)}
.warning_txt{position: relative; padding-left: 30px; margin: 30px 0 -31px; font-size: 14px; font-weight: 500; color: #F56065; visibility: hidden; max-height: 0;}
.warning_txt.on{visibility: visible; max-height: 500px;}
.warning_txt::after{content: ""; position: absolute; top: 50%; transform: translateY(-50%); left: 0; width: 20px; height: 20px; background: url("../images/icon/warning.svg") no-repeat center / cover;}

/* title */
.tit_msg {margin-top: 30px; margin-bottom: 47px;}
.tit_msg h2{font-size: 20px; font-weight: 700; line-height: 28px;}
.tit_msg p{padding-top: 0.5em; color: #999; line-height: 22px;}

/* button style */
.btn_basic, a.btn_basic{display: block; width: 100%; padding: 1em 0; border-radius: 8px; background-color: #27AAE1; text-align: center; color: #fff; transition: all .3s;}
.btn_basic.disabled{background-color: #BAE2F3; pointer-events: none;}
.btn_basic.pale{background-color: #CCE6FB; color: var(--brand-dark-color);}
.btn_basic.transparent{background-color: transparent; color: #27AAE1;}
.btn_delete{position: absolute; top: 50%; right: 26px; transform: translateY(-50%); width: 18px;}
.wrap_btn_btm{position: fixed; bottom: 0; left: 0; width: 100%; height: 120px; padding: 9px 32px 0; border-top: 1px solid #EDEBF5; box-sizing: border-box; background-color: #fff;}

/* etc */
.blind{width: 1px;height: 1px;overflow: hidden;border: none;position: absolute;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
.flex{display:-webkit-box; display:-ms-flexbox; display: -webkit-flex; display:flex;}
.flex_between{display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; justify-content: space-between; -webkit-justify-content: space-between; align-items: center; -webkit-align-items: center;}
.flex_center{display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; justify-content: center; -webkit-justify-content: center; align-items: center; -webkit-align-items: center;}
.p_r{position: relative;}
.ellipsis{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

/* Header */
#header{display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; justify-content: space-between; -webkit-justify-content: space-between; align-items: center; -webkit-align-items: center; position: fixed; top: 0; left: 0; width: 100%; height: 48px; padding: 0 18px; background-color: #fff; z-index: 100;}
#header.no_fixed{position: static;}
#header.right{justify-content: flex-end; -webkit-justify-content: flex-end;}
#header .logo{width: 91px;}
#header .title{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 18px;}
#header .util{display:-webkit-box; display:-ms-flexbox; display: -webkit-flex; display:flex;}
#header .util button:last-child{margin-left: 18px;}
#header + main{position: relative; padding: 48px 18px 0;}
body.blue #header{background-color: transparent;}
.btn_alarm.on{position: relative;}
.btn_alarm::after{content: ""; position: absolute; top: -2px; right: -2px; width: 5px; height: 5px; border-radius: 50%; background-color: #fb6956;}

/* Popup */
.popup{position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 326px; height: 238px; border-radius: 15px; background-color: #fff; z-index: 101; overflow: hidden; visibility: hidden;}
.popup.on{visibility: visible;}
.popup .pop_txt_wrap{padding: 40px 26px;}
.popup .pop_tit{font-size: 20px; font-weight: 700;}
.popup .pop_txt{padding-top: 1em; font-size: 15px; line-height: 24px;}
.popup .btn_confirm{position: absolute; bottom: 0; left: 0; width: 100%; border-radius: 0 0 15px 15px;}
.pop_btn_wrap{position: absolute; bottom: 0; left: 0; display:-webkit-box; display:-ms-flexbox; display: -webkit-flex; display:flex; width: 100%;}
.pop_btn_wrap li{width: 50%; height: 60px;}
.pop_btn_wrap li button{width: 100%; height: 100%; font-size: 16px; font-weight: 500;}
.pop_btn_wrap li .btn_undo{background-color: #eee;}
.pop_btn_wrap li .btn_do{background-color: #F56065; color: #fff;}
#dim{position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background-color: #000; opacity: .5; z-index: 100;}

.popup2{position: fixed; bottom: 0; left: 0; width: 100%; height: 335px; padding: 26px 18px; border-radius: 12px 12px 0 0; background-color: #fff; z-index: 101;}
.popup2 .pop_tit{padding-bottom: 20px; font-size: 20px; font-weight: 700;}
.popup2 .pop_wrap{padding: 20px 0; border-top: 1px solid var(--line-color); border-bottom: 1px solid var(--line-color); margin-bottom: 44px;}
.popup2 .pop_wrap ul li{display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; justify-content: space-between; -webkit-justify-content: space-between; align-items: center; -webkit-align-items: center; margin-bottom: 15px;}
.popup2 .pop_wrap ul li:last-child{margin-bottom: 0;}
.popup2 .pop_wrap ul li span{color: #666;}
.popup2 .pop_wrap ul li strong{font-weight: 500;}
.popup2 .pop_wrap .served_count .plus{color: var(--brand-color);}
.popup2 .pop_wrap .served_count .minus{color: #F56065;}

/* Gnb Bottom */
#gnbBtm{position: fixed; bottom: 0; left: 0; width: 100%; height: 86px; border-top: 1px solid #F5F5F5; background-color: #fff;}
#gnbBtm ul{height: 52px;}
#gnbBtm ul li{display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; justify-content: center; -webkit-justify-content: center; align-items: center; -webkit-align-items: center; width: calc(100% / 5);}
#gnbBtm ul li a{display: block; width: 24px; height: 24px; background: no-repeat center / cover;}
#gnbBtm ul li:nth-child(1) a{background-image: url("../images/icon/nav_home.svg");}
#gnbBtm ul li.on:nth-child(1) a{background-image: url("../images/icon/nav_home_on.svg");}
#gnbBtm ul li:nth-child(2) a{background-image: url("../images/icon/nav_notice.svg");}
#gnbBtm ul li.on:nth-child(2) a{background-image: url("../images/icon/nav_notice_on.svg");}
#gnbBtm ul li:nth-child(3) a{background-image: url("../images/icon/nav_write.svg");}
#gnbBtm ul li.on:nth-child(3) a{background-image: url("../images/icon/nav_write_on.svg");}
#gnbBtm ul li:nth-child(4) a{background-image: url("../images/icon/nav_point.svg");}
#gnbBtm ul li.on:nth-child(4) a{background-image: url("../images/icon/nav_point_on.svg");}
#gnbBtm ul li:nth-child(5) a{background-image: url("../images/icon/nav_profile.svg");}
#gnbBtm ul li.on:nth-child(5) a{background-image: url("../images/icon/nav_profile_on.svg");}

.btn_on_off{position: relative; width: 44px; height: 26px; border-radius: 16px; background-color: #D5DDE0;}
.btn_on_off::after{content: ""; position: absolute; top: 50%; left: 3px; transform: translateY(-50%); width: 20px; height: 20px; border-radius: 50%; background-color: #fff; transition: all .35s;}
.btn_on_off.on{background-color: var(--brand-color);}
.btn_on_off.on::after{left: calc(100% - 23px);}

/* Nothing box */
.nothing{position: relative; width: 100%; height: 100%;}
.nothing_box{display: none; visibility: hidden;}
.nothing_box + *{display: block; visibility: visible;}
.nothing .nothing_box{display: block; visibility: visible;}
.nothing .nothing_box + *{display: none; visibility: hidden;}
.nothing_box p{font-size: 20px; font-weight: 700; line-height: 28px;}
.nothing .nothing_box{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center; color: #C7C7D0;}

/* Board Content */
.img_profile{width: 36px; border-radius: 50%;}
.board_cnt{padding: 24px 0 40px;}
.board_cnt .board_top{padding-bottom: 18px;}
.board_cnt .board_top .board_writer_info{margin-left: 12px; text-align: center;}
.board_cnt .board_top .board_writer_info p{margin-top: 0.3em; font-size: 13px; color: #999;}
.board_cnt .board_top .board_time{font-size: 13px; color: var(--placeholder);}
.board_cnt .board_mid{padding-bottom: 20px;}
.board_cnt .board_mid .board_gift{width: 100%; padding: 16px 22px; margin-bottom: 22px; border-radius: 10px; background: #F4F7FC url("../images/icon/confetti.svg") no-repeat center right 24px;}
.board_cnt .board_mid .board_recipient_info{margin-left: 14px;}
.board_cnt .board_mid .board_writer_dept{font-weight: 700; line-height: 22px;}
.board_cnt .board_mid .board_tit{padding-bottom: 1rem; font-size: 17px; font-weight: 500;}
.board_cnt .board_mid .board_txt{display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; word-break: break-all;}
.board_cnt .board_mid .btn_more{padding-top: 0.3em; font-size: 14px; color: var(--placeholder); line-height: 25px;}
.board_cnt .board_mid .board_img_wrap{position: relative; margin-bottom: 20px; text-align: center;}
.board_cnt .board_mid .board_img li{width: 354px; height: 354px; border-radius: 10px; overflow: hidden;}
.board_cnt .board_mid .board_img img{width: 100%;}
.board_cnt .board_mid .board_img_num{position: absolute; top: 10px; left: 297px; width: 47px; height: 26px; background-color: #00000050; border-radius: 50px; color: #fff; font-size: 12px; font-weight: 700;}
.board_cnt .board_mid .board_img_num span:first-child{display: block; margin-right: 3px;}
.board_cnt .board_mid .board_img_num span:last-child{display: block;margin-left: 3px;}
.board_cnt .board_btm .board_util li{display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; align-items: center; -webkit-align-items: center; width: 68px; height: 28px; padding-left: 34px; background: no-repeat center left;}
.board_cnt .board_btm .board_util li.board_util_hits{background-image: url("../images/icon/board_hits.svg");}
.board_cnt .board_btm .board_util li.board_util_comments{background-image: url("../images/icon/board_comments.svg");}
.board_cnt .board_btm .board_util li.board_util_like{background-image: url("../images/icon/board_like.svg");}
.board_cnt .board_btm .board_util li.board_util_like.on{background-image: url("../images/icon/board_like_on.svg");}
.board_cnt .board_btm .board_util li.board_util_clap{background-image: url("../images/icon/board_clap.svg");}
.board_cnt .board_btm .board_util li.board_util_clap.on{background-image: url("../images/icon/board_clap_on.svg");}
.board_cnt .board_btm .board_util li span{font-size: 13px; color: #989898;}
.board_cnt .board_btm .board_util li.on span{color: var(--brand-color); font-weight: 500;}

/* comment Content (댓글창) */
.comment_cnt .comment_tit{position: relative; display:-webkit-box; display:-ms-flexbox; display: -webkit-flex; display:flex; padding-bottom: 17px; font-size: 18px; font-weight: 700; color: #666;}
.comment_cnt .comment_tit h3{margin-right: 5px;}
.comment_cnt .comment_tit::after{content: ""; position: absolute; bottom: 0; left: -18px; width: calc(100% + 18px + 18px); height: 1px; background-color: var(--line-color);}
.comment_cnt .comment{padding: 18px 0;}
.comment_cnt .comment.me{position: relative; background-color: var(--select-box-color);}
.comment_cnt .comment.me::before, .comment_cnt .comment.me::after{content: ""; position: absolute; top: 0; width: 18px; height: 100%; background-color: var(--select-box-color);}
.comment_cnt .comment.me::before{left: -18px;}
.comment_cnt .comment.me::after{right: -18px;}
.comment_cnt .comment_inner{display:-webkit-box; display:-ms-flexbox; display: -webkit-flex; display:flex; align-items: flex-start; -webkit-align-items: flex-start;}
.comment_cnt .comment_inner .img_profile{margin-right: 12px;}
.comment_cnt .comment_inner .comment_top{display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; justify-content: space-between; -webkit-justify-content: space-between; align-items: center; -webkit-align-items: center; margin-bottom: .5em;}
.comment_cnt .comment_inner .comment_top .comment_writer_name{font-size: 16px; font-weight: 500;}
.comment_cnt .comment_inner .comment_top .comment_time{font-size: 13px; color: var(--non-emphasize-color);}
.comment_cnt .comment_inner img{flex-basis: 36px;}
.comment_cnt .comment_inner .comment_txt_wrap{flex-grow: 1;}
.comment_cnt .comment_inner .comment_txt{font-size: 15px; line-height: 25px; word-break: keep-all;}
.comment_cnt .comment_inner .comment_util{display:-webkit-box; display:-ms-flexbox; display: -webkit-flex; display:flex; margin-top: 0.5em;}
.comment_cnt .comment_inner .comment_util li{margin-right: 8px;}
.comment_cnt .comment_inner .comment_util button{font-size: 13px; color: var(--non-emphasize-color);}

.comment_pop{position: fixed; bottom: 0; left: 0; right: 0; background-color: #fff;}
.comment_pop .comment_pop_txt{display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; align-items: center; -webkit-align-items: center; width: 93.84615385%; margin: 0 auto 40px; padding: 6px 6px 6px 18px; border: 1px solid #EFEEF3; border-radius: 21px;}
.comment_pop .comment_pop_top{display: none; visibility: hidden; position: relative; padding: 11px 0 5px; font-size: 12px; text-align: center; color: var(--brand-dark-color);}
.comment_pop .comment_pop_top .btn_close{position: absolute; top: 11px; left: 18px;}
#writeComment{flex-grow: 1;}
.comment_pop .btn_write_comment{flex-basis: 30px; opacity: .3;}
.comment_pop.on{background-color: #F9FDFF;}
.comment_pop.on .comment_pop_top{display: block; visibility: visible;}
.comment_pop.on .comment_pop_txt{margin-bottom: 5px; border-color: var(--brand-color);}
.comment_pop.on .btn_write_comment{opacity: 1;}
