@charset "utf-8";
/* 메인 화면 */
#main{position: relative; width: 100%; min-height: 100vh; min-height: -webkit-fill-available; height: 100vh; height: -webkit-fill-available; height: fill-available; overflow: hidden; background: #DEEAF5}
#main > *{margin: 0 auto; text-align: center;}
#main h1{width: 217px; height: 87px; margin: 7em auto 4.4em; background: url("../images/illust/mainTxt.svg") no-repeat center / cover;}
#main .main_img{padding: 0 18px; transition: all .3s;}
#main .btn_basic{position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: calc(100% - 64px); margin-bottom: 76px;}

/**************************************************************** member ****************************************************************/
/* 로그인하기 - member/index.html */
main#login{width: 100%; height: 100vh; overflow: hidden; padding: 0; transition: all .3s;}
#login .login_img{width: 100%; max-width: 300px; margin: 58px auto 25px;}
#loginForm{padding: 35px 24px; border-radius: 20px 20px 0 0; background-color: #fff;}
#loginForm .btn_basic{margin-top: 59px;}
#login .login_link{padding-bottom: 30vh; background-color: #fff; color: #999;}
#login .login_link a:first-child{margin-right: 15px;}
#login .login_link a:last-child{margin-left: 15px;}
#login.on .login_img{max-height: 0; visibility: hidden; margin: 24px 0;}

/*  아이디 찾기 member/id/find_id.html 
  비밀번호 찾기 member/pw/find_pw.html */ 
.find_id_pw .input_row.tel input{flex-grow: 1; margin-right: 12px;}
.find_id_pw .input_row.tel input{flex-grow: 1; margin-right: 12px;}
.find_id_pw .input_row.tel .btn_ask_code{flex-basis: 100px; flex-shrink: 0;}
.find_id_pw .btn_rt{font-size: 14px; font-weight: 500; color: var(--brand-dark-color); text-decoration: underline;}
.find_id_pw .find_code_wrap .find_code_time{position: absolute; top: 50%; right: 18px; transform: translateY(-50%); font-size: 16px; font-weight: 700; color: var(--brand-dark-color);}
#findId .btn_find_email, #findPw .btn_find_pw{margin-top: 50px;}
/* 아이디 확인 member/id/find_id_result.html */
.find_id_result{width: 100%; padding: 1em 0; margin-bottom: 52px; border-radius: 12px; background-color: #F6F7F6; font-size: 22px; font-weight: 500; color: #000; text-align: center;}
#findIdResult .btn_basic{font-size: 18px; font-weight: 500;}

/**************************************************************** home ****************************************************************/
#home .home_head{position: relative; height: 190px; padding: 33px 18px 0;}
#home .home_head::after{content: ""; position: absolute; top: 0; right: 32px; width: 160px; height: 134px; background: url("../images/illust/mainillust.svg") no-repeat center / cover; z-index: 1;}
#home .home_body{position: relative; background-color: #fff; padding: 85px 18px 0;}
#home .home_temperature_box{position: absolute; top: -65px; left: 50%; transform: translateX(-50%); width: 90.76923077%; height: 130px; padding: 24px; border-radius: 15px; background: #fff url("../images/icon/fire.svg") no-repeat top 22px right 26px; -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25); -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25); box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);}
#home .home_temperature_box p{padding-bottom: .7em; font-size: 13px; font-weight: 500; color: var(--non-emphasize-color);}
#home .home_temperature_box .cum_temperature{color: #FC7563;}
#home .home_temperature_box .home_temperature_bar{position: relative; width: 100%; height: 16px; margin-top: 1em; border-radius: 4px; background-color: #EDEFF5; overflow: hidden;}
#home .home_temperature_box .home_temperature_bar .bar{position: absolute; top: 0; left: 0; width: 78%; height: 100%; border-radius: 4px; background-color: #FC7563;}
#home .hold_points_box{width: 100%; padding: 16px 18px; border-radius: 12px; background-color: #F5F7FA;}
#home .hold_points_box strong{font-size: 14px; font-weight: 500;}
#home .hold_points_box a{display: block; padding-right: 20px; position: relative; font-size: 18px; font-weight: 700; color: var(--brand-color);}
#home .hold_points_box a::after{content: ""; position: absolute; top: 50%; right: 0; transform: translateY(-50%); width: 20px; height: 20px; background: url("../images/icon/btn_arrow_right.svg") no-repeat center / cover;}

#home .home_board{padding-bottom: 86px;}
#home .home_board .board_nothing{display: none; visibility: hidden;}
#home .home_board .board_nothing + div{display: block; visibility: visible;}
#home .home_board.nothing{height: calc(100vh - 373px - 86px);}
#home .home_board.nothing .board_nothing{display: block; visibility: visible;}
#home .home_board.nothing .board_nothing + div{display: none; visibility: hidden;}
#home .home_board.nothing .board_nothing{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center; color: #C7C7D0;}

#home .home_board_inner .board_head{padding: 32px 0 17px; border-bottom: 1px solid #EBEEF5;}
#home .home_board_inner .board_head h3{ font-weight: 400;}
#home .home_board_inner .board_head .board_sum{font-weight: 700;}
#home .home_board_inner .board_head .board_filter li{margin-left: 16px; color: var(--non-emphasize-color);}
#home .home_board_inner .board_head .board_filter li.on button{font-weight: 700; color: #333;}

/*  게시글 검색 board/search.html */ 
#searchBoardHeader{display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; justify-content: space-between; -webkit-justify-content: space-between; align-items: center; -webkit-align-items: center; width: 100%; height: 36px; margin-left: 9px; padding: 10px; border-radius: 13px; background-color: #F0F2F5;}
#searchBoardHeader button{width: 18px; height: 18px; opacity: .5;}
main#searchBoard{padding: 56px 0 0;}
#searchBoard .recent_search_word{display: none; visibility: hidden;}
#searchBoard .recent_search_word.on{display: block; visibility: visible;}
#searchBoard .recent_search_word_header{display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; justify-content: space-between; -webkit-justify-content: space-between; align-items: center; -webkit-align-items: center; padding: 11px 24px; background-color: #F6F7F6;}
#searchBoard .recent_search_word_header h2{font-size: 15px; font-weight: 500;}
#searchBoard .recent_search_word_header button{font-size: 14px; color: #999;}
.search_word_list li{display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; justify-content: space-between; -webkit-justify-content: space-between; align-items: center; -webkit-align-items: center; position: relative; width: 100%; padding: 18px 24px;}
.search_word_list li .search_word{font-size: 16px;}
.search_word_list li p{display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; align-items: center; -webkit-align-items: center;}
.search_word_list li .search_date{font-size: 14px; color: #999;}
.search_word_list li .btn_delete{position: static; transform: none; width: 9px; height: 9px; margin-left: 20px;}